.footer{
    position: absolute!important;
    bottom: 0!important;
    width: 100%;
}

.footerHr {
    border:none;
    /*height: 20px;*/
    width: 90%;
    /*height: 50px;*/
    /*margin-top: 0;*/
    border-bottom: 1px solid #aba4a4;
    /*box-shadow: 0 20px 20px -20px #333;*/
    /*margin: -50px auto 10px;*/
}
