.showAllBtn {
    background:linear-gradient(to bottom, #90a897 5%, #938e8e 100%);
    background-color:#90a897;
    border-radius:28px!important;
    color:#fcfcfc;
    /*font-family:Arial;*/
    /*padding:14px 48px;*/
    text-decoration:none;
    margin-top: 1cm!important;
    margin-left: 45%!important;
}

@media (max-width: 1000px) {
    .mainPageTitle{
        margin-left: 2em!important;
    }
    
}
