.loginIcon {
    display: none !important;
}

.authentication {
    display: block !important;
}

.mainBar {
    padding-left: 5em;
    padding-right: 5em;
}

.menuAddAnnouncement {
    display: none !important;
}

@media (max-width: 500px) {

    .mainBar {
        padding: 0em;
    }

}

@media (max-width: 725px) {

    .addAnnouncementBtn {
        display: none !important;
    }

    .menuAddAnnouncement {
        display: block !important;
    }

}

@media (max-width: 760px) {

    .authentication {
        display: none !important;
    }

    .loginIcon {
        display: block !important;
        color: dimgray;
        cursor: pointer;
    }

}

.login {
    float: left;
}

.divider {
    float: left;
    cursor: default;
    color: black;
}

.register {
    float: left;
}

.menuHr {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
}



